body {
  font-family: sans-serif;
  color: rgb(11, 12, 17);
  border-top: 10px solid#1098ac;
}

h1,
h2,
h3 {
  color: rgb(65, 114, 155);
}

h1 {
  font-size: 26px;

  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  text-align: center;
  font-weight: bold;
}

article p {
  font-style: italic;
}

.related-post-list {
  list-style: none;
}

a:link {
  color: rgb(86, 219, 236);
}

.related-post-list,
a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.headder-main {
  background-color: rgb(241, 207, 165);
  padding: 10px;
}

.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.nav-item {
  padding: 10px;
  background: #2f2f31e5;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

.related-main {
  border-top: 5px solid rgb(50, 174, 190);
  border-bottom: 5px solid rgb(50, 174, 190);
  background: #f7f5f5;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: rgb(17, 27, 172);
  font-weight: bold;
}

/* Resolve Conflict in Selector */

#copyright {
  color: gray;
}

.copyright {
  color: blue;
}

.text {
  color: black;
}

footer p {
  /* Higest Prioraty but Bed prectice  */
  /* color: yellow !important;   */
  color: red;
}
