.container {
  height: 100vh;
  width: 100vw;
}

.headder-main {
  background-color: rgb(241, 207, 165);
  padding: 10px;
  margin-bottom: 20px;
}

.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.nav-item {
  padding: 10px;
  background: #2f2f31e5;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

footer p {
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

.frame {
  width: 100%;
  height: 100%;
}

.frame-section {
  width: 100%;
  height: 100%;
}

h3 {
  margin-left: 150px;
  margin-top: 50px;
}
