.headder-main {
  background-color: rgb(241, 207, 165);
  padding: 10px;
  margin-bottom: 20px;
}
.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.nav-item {
  padding: 10px;
  background: #2f2f31e5;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

.card {
  height: 525px;
  width: 400px;
  padding: 10px;
}
.toic {
  border: 1px solid rgb(114, 111, 111);
  padding: 5px;
  background: rgb(104, 101, 101);
  color: rgb(20, 20, 20);
}
.card {
  border: 1px solid rgb(37, 29, 29);
  border-radius: 5px;
  background: #f8f6f6;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.read-more {
  margin-left: 140px;
  padding: 7px;
  border: 1px solid rgb(121, 115, 115);
  background: rgb(240, 234, 234);
  cursor: pointer;
}
